<h1>var straysheep</h1>
<div class="top-bar">
  <ul class="menu">
    <li><%= menu_link_to "TOP", root_path %></li>
    <li><%= menu_link_to "ニュース", "#" %></li>
    <li><%= menu_link_to "ブログ", "#" %></li>
    <li><%= menu_link_to "会員名簿", :members %></li>
    <li><%= menu_link_to "管理ページ", "#" %></li>
  </ul>
</div>
